<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="socios.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>Formulario</h2>
          <form #socioForm="ngForm" (ngSubmit)="crearSocio(socioForm)">

            <div class="form-group">
              <input type="text" class="form-control" name="nombre" placeholder="Enter your Nombre"
                [(ngModel)]="socioService.selectedSocio.nombre" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="direccion" placeholder="Enter your Direccion"
                [(ngModel)]="socioService.selectedSocio.direccion" required>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" name="telefono" placeholder="Enter your Telefono"
                [(ngModel)]="socioService.selectedSocio.telefono" required>
            </div>
            <div class="form-group">
              <input type="date" class="form-control" name="fechaCreacion" placeholder="Enter your Fecha Creacion"
                [(ngModel)]="socioService.selectedSocio.fechaCreacion" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="directorFavorito" placeholder="Enter your Director Favorito"
                  [(ngModel)]="socioService.selectedSocio.directorFavorito" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="actorFavorito" placeholder="Enter your Actor Favorito"
                  [(ngModel)]="socioService.selectedSocio.actorFavorito" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="generoPreferido" placeholder="Enter your Genero Preferido"
                  [(ngModel)]="socioService.selectedSocio.generoPreferido" required>
            </div>
            <div>
              <button class="btn btn-primary mr-2" (click)="resetForm(socioForm)">
                Clean
              </button>
              <button class="btn btn-secondary" type="submit">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Direccion</th>
            <th class="text-center">Telefono</th>
            <th class="text-center">Fecha Creacion</th>
            <th class="text-center">Director Favorito</th>
            <th class="text-center">Actor Favorito</th>
            <th class="text-center">Genero Preferido</th>
            <th class="text-center">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let socio of socioService.socio">
            <td>{{ socio.nombre }}</td>
            <td>{{ socio.direccion }}</td>
            <td>{{ socio.telefono }}</td>
            <td>{{ socio.fechaCreacion }}</td>
            <td>{{ socio.directorFavorito }}</td>
            <td>{{ socio.actorFavorito }}</td>
            <td>{{ socio.generoPreferido }}</td>
            <td>
              <button class="btn btn-secondary btn-sm" (click)="actualizarSocio(socio)">
                <i class="material-icons">edit</i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="eliminarSocio(socio._id)">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
