@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

*{
    padding: 10px;
    margin-top: 4px;
    box-sizing: border-box;
} 

input::placeholder {
    color: rgba(206, 206, 206, 0.726); 
}

.text-center {
    text-align: center;
}
  
  
  
  
  