
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>Formulario</h2>
          <form [formGroup]="cintaForm" (ngSubmit)="agregarCinta()">
            <div class="form-group">
                <label>Pelicula</label>
                <select class="form-control" formControlName="pelicula" [(ngModel)]="id">
                    <option value="" selected disabled>Seleccionar</option>
                    <option value="{{item._id}}" *ngFor="let item of listPeliculas">{{item.titulo}}</option>
                </select>

                <!-- <input type="text" formControlName="pelicula"
                    class="form-control" placeholder="Ingresar Pelicula"> -->
                <div class="text-danger"
                    *ngIf="cintaForm.get('pelicula')?.hasError('required') && cintaForm.get('pelicula')?.touched">
                    <span>La Pelicula <strong>es obligatoria</strong></span>
                </div>
            </div>
            <div class="form-group">
                <label>Cinta</label>
                <input type="text" formControlName="id_cinta" 
                    class="form-control" placeholder="Ingresar ID Cinta">
                <div class="text-danger"
                    *ngIf="cintaForm.get('id_cinta')?.hasError('required') && cintaForm.get('id_cinta')?.touched">
                    <span>El nombre de cinta <strong>es obligatorio</strong></span>
                </div>
            </div>
            <div  class="col-sm-12 text-right">
                <div class="panel-body buttons-margin">
                   <button type="submit" [disabled]="cintaForm.invalid" class="btn btn-w-md btn-success">Guardar</button>&nbsp;&nbsp;
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
        <table *ngIf="listCintas.length > 0" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Pelicula</th>
                    <th>ID Cinta</th>
                    <th>Disponible</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="datos">
                <tr *ngFor="let cinta of listCintas">
                    <td>{{ cinta.pelicula }}</td>
                    <td>{{ cinta.id_cinta }}</td>
                    <td>{{ cinta.disponible }}</td>
                    <td>
                        <button (click)="eliminarCinta(cinta._id)" style="font-size: 25px;" class="btn btn-w-md btn-warning">Eliminar</button>&nbsp;&nbsp;
                        <!-- <i [routerLink]="['/editar-pelicula', pelicula._id]" style="font-size: 25px;" class="pe pe-7s-pen text-accent"></i> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
