<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="prestamos-devueltos.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>Formulario</h2>
          <form #prestamoForm="ngForm" (ngSubmit)="crearPrestamo(prestamoForm)">

            <div class="form-group">
              <input type="text" class="form-control" name="fechaPrestamo" placeholder="Enter your Fecha Prestamo"
                [(ngModel)]="prestamoService.selectedPrestamo.fechaPrestamo" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="fechaDevolucion" placeholder="Enter your Fecha Devolucion"
                [(ngModel)]="prestamoService.selectedPrestamo.fechaDevolucion" required>
            </div>
            <div class="form-group">
              <input type="boolean" class="form-control" name="entregado" placeholder="Enter your Entregado"
                [(ngModel)]="prestamoService.selectedPrestamo.entregado" required>
            </div>
            <div>
              <button class="btn btn-primary mr-2" (click)="resetForm(prestamoForm)">
                Clean
              </button>
              <button class="btn btn-secondary" type="submit">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Socio</th>
            <th class="text-center">Copia</th>
            <th class="text-center">fecha Prestamo</th>
            <th class="text-center">Fecha Creacion</th>
            <th class="text-center">Entregado</th>
            <th class="text-center">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prestamo of prestamoService.prestamo">
            <td>{{ prestamo.socio }}</td>
            <td>{{ prestamo.copia }}</td>
            <td>{{ prestamo.fechaPrestamo }}</td>
            <td>{{ prestamo.fechaDevolucion }}</td>
            <td>{{ prestamo.entregado }}</td>
            <td>
              <button class="btn btn-secondary btn-sm" (click)="devolverPrestamo(prestamo)">
                <i class="material-icons">edit</i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="eliminarPrestamoHecho(prestamo._id)">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
