<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="peliculas.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>Formulario</h2>
          <form #peliculaForm="ngForm" (ngSubmit)="crearPelicula(peliculaForm)">

            

            <div class="form-group">
              <input type="text" class="form-control" name="titulo" placeholder="Enter your Title"
                [(ngModel)]="peliculaService.selectedPelicula.titulo" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="genero" placeholder="Enter your Gender"
                [(ngModel)]="peliculaService.selectedPelicula.genero" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="director" placeholder="Enter your Director"
                [(ngModel)]="peliculaService.selectedPelicula.director" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="actores" placeholder="Enter your Actors"
                [(ngModel)]="peliculaService.selectedPelicula.actores" required>
            </div>
            <div>
              <button class="btn btn-primary mr-2" (click)="resetForm(peliculaForm)">
                Clean
              </button>
              <button class="btn btn-secondary" type="submit">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Titulo</th>
            <th class="text-center">Genero</th>
            <th class="text-center">Director</th>
            <th class="text-center">Actores</th>
            <th class="text-center">Copias</th>
            <th class="text-center">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pelicula of peliculaService.pelicula">
            <td>{{ pelicula.titulo }}</td>
            <td>{{ pelicula.genero }}</td>
            <td>{{ pelicula.director }}</td>
            <td>{{ pelicula.actores }}</td>
            <td></td>
            <td>
              <button class="btn btn-secondary btn-sm" (click)="actualizarPelicula(pelicula)">
                <i class="material-icons">edit</i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="eliminarPelicula(pelicula._id)">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
